@{
    ViewBag.Title = "Contact Us";
    ViewBag.Message = "Email/Call the team with any issues at the below:";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<address>
    Veolia<br />
    Wallasey Bridge Road<br />
    Bidston<br />
    Merseyside<br />
    CH41 1EF<br />
    <abbr title="Phone">P:0203 567 4236</abbr>        
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:support4rubyx@veolia.com">support4rubyx@veolia.com</a>
</address>