@model dynamic
@{
    ViewBag.Title = "GetId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetId</h2>

<form id="newMcn">
    <div class="form-group">
        <label>Date</label>
        <div class="tt-container">
            <input id="date" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Waste Type</label>
        <div class="tt-container">
            <input id="wastetype" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Waste Type</label>
        <div class="tt-container">
            <input id="wastetype" type="text" value="" class="form-control" />
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>



</form>

@section Scripts
{
    





}
